/* body */
body{
    background-image: linear-gradient(rgba(3, 1, 32, 0.5), rgba(0,0,0,0.5)), url(../assets/credit.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
  }
  #image{
      background-image: linear-gradient(rgba(3, 1, 32, 0.5), rgba(0,0,0,0.5)), url(../assets/loan.jpg);
  }

/* header */
.homepage{
    position: relative;
    margin-left: 1%;
    margin-top: 3%;
    font-size: 170%;
}
.homepage a{
    float: left;
    font-size: 100%;
    text-decoration: none;
    color: white;
}
.homepage a span{
    font-size: 150%;
    color: green;
}
.homepage a img{
    width: 6%;
    height: auto;
}
.home-buttons{
    padding-right: 3px;
    list-style: none;
    margin-top: -20px;
    float: right;
}
.home-buttons li{
    display: inline-block;
    margin-top: 0;
}
.home-buttons li a{
    color: white;
    text-decoration: none;
    margin-top: 0;
    margin-right: 3%;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
}
.home-buttons li a:hover{
    border: 1px solid;
    color: rgb(11, 180, 11);
    font-size: 110%;
}

/* section */
#body{
    margin: 30px;
    height: 550px;
}

.welcome {
    padding-top: 2%;
    color: aliceblue;
    font-size: 170%;
    margin: 4%;
}

.welcome h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 15px;
    font-size: 200%;
    text-align: center;
}
.welcome a{
    padding: 1%;
    background-color: rgb(6, 6, 65);
    color: white;
    text-transform: uppercase;
    font-size: 60%;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/* signup-page */
body.image{
    background-image: linear-gradient(rgba(3, 1, 32, 0.5), rgba(0,0,0,0.5)), url(../assets/signup.jpg);
}
.signup-page{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.info{
    padding-right: 20%;
    columns: white;
    width: 70%;
}
.info h3{
    font-size: 250%;
    color: #FFFFFF;
}
.info h4{
    font-size: 200%;
    color: lightgray;
}
  .form {
    padding-right: 30px;
    width: 30%;
    padding: 8% 0 0;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    flex-basis: 50%;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 13px;
    padding: 13px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:  rgb(84, 87, 102);
    
    width: 100%;
    border: 0;
    padding: 15px;
    color: rgb(231, 225, 225);
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button a{
    text-decoration: none;
    color: #FFFFFF;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgb(17, 17, 17);
  color: #FFFFFF;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 100%;
}
.form .message a {
  color: rgb(115, 116, 122);
  text-decoration: none;
}

.form .message a:hover{
    color: rgb(255, 255, 255);
  }

  /* signin page */
  .signin-page{
      padding-top: 10%;
  }
  #form{
    position: relative;
    background: rgb(1, 6, 51);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
  }

  /* admin */
  .form h1{
      color: #FFFFFF;
  }

  /* application form */
#application {
    background-color: rgb(1, 0, 7);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding-right: 30px;
    position: relative;
    margin-right: 15%;
    height: 75%;
}
#application h1{
    margin-top: -7%;
}
header.class{
    background-color: #FFFFFF;
}
.buttons{
    margin: 0;
    border: 1px solid gray;
    background-color: black;
    font-size: 100%;
}
.top-buttons{
    padding-right: 3px;
    list-style: none;
    margin-top: -20px;
    float: right;
}
.top-buttons li{
    display: inline-block;
    margin-top: 0;
}
.top-buttons li a{
    color: rgb(206, 206, 206);
    text-decoration: none;
    margin-top: 0;
    margin-right: 3%;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
}
.top-buttons li a:hover{
    color: rgb(0, 146, 24);
    border: green;
}

/* footer */
#footer{
    color: aliceblue;
    height:40px;
    text-align: center;
}

@media(max-width: 768px){
    #header,
    #header .homepage,
    #header .signin,
    #body,
    #body .welcome h1,
    #body .welcome h2,
    #body .welcome p,
    #body .welcome a,
    .signup-page,
    .info,
    .info h3,
    .info h4,
    .form,
    .form button,
    .form .message,
    #footer{
        float: none;
        text-align: center;
        width: 100%;
    }
    .homepage{
        padding-bottom: 20px;
    }
    .signin{
        padding-top: 30px;
    }
}